[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
linear_staking = "7ci6TH3H4bvyHpJjvyMWMJj91nNsPpg1Hpv43g7tdF9V"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
test-admin = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/admin-instructions.ts\""
test-staking = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/linear-staking.ts\""
